RENDERING_PATH=orchestrator4.run
FONTS_PATH=/Users/your-user/path-to/fonts
SENTRY_DSN=
LOG_LEVEL=debug # fatal | error | warn | info | debug | trace | silent
NODE_ENV=debug # production | development | debug
CONVERT_RENDER=true
